body {
    margin: 0;
    /*font-family: "Microsoft YaHei" ! important;*/
    background: #eeeeee url("../images/background.png");
    font-family: Cambria, Georgia, "Microsoft Jhenghei", "Hiragino Sans GB", "Microsoft YaHei", "Times New Roman", serif;
}

.clearfix:after {
    content: '';
    clear: both;
    display: block;
}

.container {
    width: 980px;
    margin: 0 auto;
    position: relative;
}

.nav-wrap {
    position: relative;
    width: 980px;
    height: 80px;
    margin: 0 auto;
}

.header {
    background: #3AA2C1;
    color: #fff;
}

.header .intro {
    padding: 40px 0 50px;
    -webkit-animation: nav-down 0.5s;
    -o-animation: nav-down 0.5s;
    animation: nav-down 0.5s;
}
.avatar {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    transition: all 1s;
    margin: 0 60px;
    float: left;
}
img {

}


.header nav .logo {
    position: absolute;
    bottom: 14px;
    left: 0;
    font-size: 30px;
    font-weight: 700;
}

.header nav .logo a {
    color: #ffffff;
    text-decoration: none;
}

.header nav ul {
    margin: 0px;
    padding: 0px;
    position: absolute;
    bottom: 14px;
    right: 0px;
}

.portal {
    height: 70px;
    text-align: center;
}
a, a:link {
    text-decoration: none;
}
.btn_portal {
    display: inline-block;
    width: 80px;
    height: 80px;
    color: #ffffff;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    position: relative;
    top: 0;
    margin: 0px 40px;
    padding: 10px;
}

.btn_portal .t1 {
    display: block;
    padding: 5px 0 10px;
}

.btn_portal .t2 {
    display: block;
    font-size: 12px;
    /*font-style: italic;*/
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.btn_portal:hover {
    top:-15px;
    background: #ffffff url("../images/background.png");
    border-radius: 5px;
}

.btn_portal:hover .t1{
    color: #3ac19f;
}
.btn_portal:hover .t2{
    color: #69c195;
}

.header nav li {
    margin-left: 18px;
    list-style: none;
    display: inline-block;
}

.header nav li a {
    text-decoration: none;
    color: #fff;
}

#tip {
    color: #FF0000;
    margin-top: 10px;
}

#textarea {
    width: 100%;
    height: 300px;
    display: block;
    margin: 32px auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 4px;
}

#import {

}

.import {
    margin: 32px auto;
    display: block;
    width: 100%;
    padding: 8px;
    font-size: 16px;
    box-sizing: border-box;
}

.deal {
    text-align: center;
}

button {
    margin: 10px 5px;
    width: 100px;
    height: 50px;
    background-color: #3AA2C1;
    border: none;
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
    font-family: "Microsoft YaHei" ! important;
}

#result {
    margin-top: 50px;
    display: block;
}

footer {
    margin-top: 50px;
    text-align: center;
}

.imageRotation {
    height: 500px;
    width: 1000px;
    overflow: hidden;
    position: relative;
    border: 10px solid #A2B5A1;
    border-radius: 5px;
    position: relative;
    margin: 0 auto 20px;
}

.imageBox {
    position: absolute;
    height: 500px;
    top: 0;
    left: 0;
    overflow: hidden;
    font-size: 0;
    width: 5000px;
}

.imageBox img {
    display: inline-block;
    height: 500px;
    width: 1000px;
    float: left;
    border: none;
}

.icoBox {
    position: absolute; /*--固定定位--*/
    bottom: 8px;
    left: 440px;
    width: 76px;
    height: 12px;
    text-align: center;
    line-height: 40px;
}

.icoBox a {
    display: block;
    float: left;
    height: 12px;
    width: 12px;
    margin-left: 3px;
    overflow: hidden;
    background: url("../images/ico.png") 0px 0px no-repeat;
    cursor: pointer;
}

.icoBox a.active {
    background-position: 0px -12px;
    cursor: default;
}

#prev {
    left: 0;
}

#next {
    right: 0;
}

a.arrow {
    position: absolute;
    cursor: pointer;
    float: left;
    width: 100px;
    height: 100%;
    z-index: 2;
    color: rgba(198, 240, 205, 0.33);
    font-size: 40px;
    text-align: center;
}

a.arrow i {
    margin-top: 240px;
}

.inputarea {
    position: relative;
}

.prompt {
    width: 980px;
    position: absolute;
    top: 40px;
    background-color: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

.prompt ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.prompt ul li {
    padding: 0 8px;
    line-height: 26px;
    cursor: default;
}

.choose {
    background-color: #eeeeee;
}

.drag-container {
    position: relative;
}

.drag-wrap {
    float: left;
    width: 160px;
    margin-right: 100px;
    list-style: none;
    padding: 0px;
    height: 500px;
    border: 1px solid #A5A5A5;
    position: relative;
    margin-top: 0;
}

.drag {
    text-align: center;
    width: 160px;
    line-height: 36px;
    border: 1px solid #B5B5B5;
    margin: -1px;
    color: #000000;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0 5px 20px #555;
}

.dragging {
    visibility: hidden;
}